@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");

body {
  font-family: "Lato", sans-serif;
}

.header {
  margin: auto;
  text-align: center;
  padding: 2rem 1rem;
  font-weight: bold;
  font-family: Rampart One;
  color: #059669;
  font-size: 60px;
}

.input-label {
  display: block;
  text-align: center;
  margin: 1rem auto;
  font-size: 21px;
  font-weight: bold;
}

.input-date {
  display: block;
  margin: 1rem auto;
  width: 200px;
  height: 30px;
  padding: 5px 20px;
  border: 2px solid #059669;
  border-radius: 5px;
}

.btn-check {
  display: block;
  margin: 1rem auto;
  width: 100px;
  height: 35px;
  background-color: #059669;
  border: 0px;
  border-radius: 5px;
  color: whitesmoke;
  font-size: 1rem;
}

.output-div p {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #04724f;
  font-family: Rampart One;
}

.spinner {
  margin: 5rem auto;
  display: none;
}
